.light-bg {
    -fx-background-color: #F9F9F9;
    -fx-padding: 20;
    -fx-font-family: "Segoe UI", "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.title {
    -fx-font-size: 22px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.primary-btn {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-padding: 8 16;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
}
